.cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: linear-gradient(45deg, rgba(255, 0, 122, 0.7), rgba(0, 212, 255, 0.7), rgba(0, 255, 133, 0.7), rgba(255, 204, 0, 0.7)); /* Adjusted for semi-transparency */
    pointer-events: none; /* Prevent the cursor from blocking interactions */
    transition: transform 0.2s ease; /* Slow down cursor movement */
    z-index: 50;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

@keyframes sparkle {
    0% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
    50% {
        transform: scale(1.2) translateY(-10px);
        opacity: 0.8;
    }
    100% {
        transform: scale(0.5) translateY(-20px);
        opacity: 0;
    }
}
